<!DOCTYPE html>
<html lang="{{ lang | default('en') }}">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{{ title }}</title>
  <meta name="description" content="{{ description }}" />
  {% if noindex %}
  <meta name="robots" content="noindex" />
  {% endif %}
  {% if eleventy.env.runMode == "build" %}
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-F47WEEE9Q7"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-F47WEEE9Q7');
  </script>
  {% endif %}
  {% if extraHead %}
  {% include extraHead %}
  {% endif %}
  <link rel="stylesheet" href="/assets/style.css" />
</head>
<body>
  {% include "site-header.njk" %}

  <main{% if mainClass %} class="{{ mainClass }}"{% endif %}>
    <div class="container">
      {{ content | safe }}
    </div>
  </main>

  {% include "site-footer.njk" %}
  {% if extraScripts %}
  {% include extraScripts %}
  {% endif %}
  <script src="/assets/js/analytics.js" defer></script>
</body>
</html>
