<div class="lang-switch">
  <a href="/en{{ langSwitchPath }}"{% if lang == "en" %} class="active"{% endif %}>
    {{ "common.langSwitch.en" | t(lang) }}
  </a>
  <a href="/ru{{ langSwitchPath }}"{% if lang == "ru" %} class="active"{% endif %}>
    {{ "common.langSwitch.ru" | t(lang) }}
  </a>
</div>
