---
layout: base.njk
pagination:
  data: languages
  size: 1
  alias: lang
permalink: "/{{ lang.code }}/licenses/"
showLangSwitch: true
langSwitchPath: "/licenses/"
year: 2026
eleventyComputed:
  title: "{{ 'common.pages.licenses' | t(lang.code) }}"
  description: "{{ 'apps.sixJarsFinance.licenses.metaDescription' | t(lang.code) }}"
  lang: "{{ lang.code }}"
---

<div class="article-container">
{% include "licenses-content.njk" %}
</div>
