---
layout: base.njk
permalink: /licenses/
lang: en
year: 2026
eleventyComputed:
  title: "{{ 'common.pages.licenses' | t('en') }}"
  description: "{{ 'apps.sixJarsFinance.licenses.metaDescription' | t('en') }}"
---

{% include "licenses-content.njk" %}
